
/* custom din font */
@font-face {
  src: url(fonts/din/DinPro-Regular.otf);
  font-family: din;
}

/* custom bold din font */
@font-face {
  src: url(fonts/din/DinPro-Bold.otf);
  font-weight: bold;
  font-family: dinbold;

}


/* Changes the font on whole website */
* {
  font-family: din;
}

.b {

  font-family: dinbold !important;

}



/* google fonts locally */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(icons/MaterialIcons-Regular.woff) format('woff'),
    url(icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* forces the hight to max and makes background the right color */
body {

  height: 100vh;
  background-image: url('photo/bettercall.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

/* removes halo form forms*/
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}


/* css for the resons cards */
.card {

  background-color: rgb(255, 255, 255);
  color: rgb(0, 49, 85);
  border-radius: .9rem .9rem .0rem .9rem;
  margin: 20px;
  border: 0px;
  overflow:auto;

}

/* card when hover */
.card:hover {

  background-color: rgb(255, 255, 255);
  color: rgb(0, 49, 85);
  border-radius: .9rem .9rem .0rem .9rem;
  margin: 20px;
  border: 0px;
  overflow:auto;

}


/* stiliying for auto complet */
#suggesstion-box{
  width: 200px;
  position: absolute;
}

/* stiliying for the segesed boxes */
#suggesstion-box li{
  list-style: none;
  margin-left: -32px;
  padding: 10px; 
  width: 200px;
  background: rgb(0, 49, 85);
  border: #ffffff 1px solid;
  color: white;
}

/* stiliying for the segesed boxes when hovered*/
#suggesstion-box li:hover{
  background:white;
  color: rgb(0, 49, 85);
  cursor: pointer;
}




/* css for the resons cards when checked */
.btn-check:checked+label {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 49, 85) !important;
}

/* gives the unice rounded coners */
.roundedconners {

  border-radius: .9rem .9rem .0rem .9rem;
  border-color: rgb(255, 255, 255);
  background: rgb(0, 49, 85);

}

/* forses contaners to have max hight */
.container{
    height: 100%;
}

/* forses contaners to have max hight */
.vstack{
    height: 100vh;
}

/* changes the icon size */
.material-icons.md-large { font-size: 200px; }


/* removes halo form text input on the home and other pages */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
