



@font-face {
  src: url(fonts/din/DinPro-Regular.otf);
  font-family: din;
}

* {
  font-family: din;
}


.form-control:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn:focus {
    outline: 0 !important;
}

body {

  height: 100vh;

background-color: rgb(0,65,122);

}
.container{
    height: 100%;
}

.vstack{
    height: 100vh;
}

.h1 {

  color: rgb(255, 0, 0);

}

.material-icons.md-large { font-size: 200px; }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
